<section class="mb-4">
  <div class="row g-0">
    <div class="w-auto ms-auto">
      <%= link_to "新規作成", new_timestamp_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</section>

<!-- Section: Timestamp List -->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Timestamp List</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
          <tr>
            <th scope="col">Primary Key</th>
            <th scope="col">Transaction id</th>
            <th scope="col">Content Hash</th>
          </tr>
          </thead>
          <tbody>
          <% @timestamps.each do |t| %>
          <tr class="<%= t[:status] == "confirmed" ? '' : 'bg-warning' %>">
            <td><%= link_to t[:id], timestamp_path(t[:id]) %></td>
            <th scope="row"><span><%= t[:txid] %></span></th>
            <td><%= t[:content_hash] %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= paginate @timestamps %>
</section>
<!-- Section: Timestamp List -->