<!-- Section: Timestamp register -->
<section class="mb-4">
  <div class="card">
    <div class="card-header py-3">
      <h5 class="mb-0 text-center"><strong>Create Timestamp</strong></h5>
    </div>
    <div class="card-body">
      <div class="container">

        <div class="row mt-2">
        <%= form_with model: @form, scope: "timestamp", :url => timestamps_path, :html => {:class => ''} do |f| %>
          <!-- Timestampとして記録する内容を入力するフォームを表示 -->
          <div class="row mt-2">
            <div class="form-floating mb-3">
              <%= f.text_field :prefix, class: "form-control", id: "floatingPrefix", placeholder: "Prefix" %>
              <label for="floatingPrefix">Prefix</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.text_field :content, class: "form-control", id: "floatingContent", placeholder: "Write Content" %>
              <label for="floatingContent">Content</label>
            </div>
          </div>
          <div class="row g-0">
            <div class="w-auto ms-auto">
              <%= f.submit "BCに記録", class: "btn btn-outline-primary" %>
              <%= link_to "キャンセル", :back, class: "btn btn-light" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Timestamp register -->
