<!-- Section: Token register -->
<section class="mb-4">
  <div class="card">
    <div class="card-header py-3">
      <h5 class="mb-0 text-center"><strong>Create Token</strong></h5>
    </div>
    <div class="card-body">
      <div class="container">

        <div class="row mt-2">
        <%= form_with model: @form, scope: "token", :url => tokens_path, :html => {:class => ''} do |f| %>
          <!-- 発行するToken情報を入力するフォームを表示 -->
          <div class="row mt-2">
            <div class="form-floating mb-3">
              <%= f.number_field :amount, min: 1, class: "form-control", id: "floatingAmount", placeholder: "Amount" %>
              <label for="floatingAmount">Amount</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.select :token_type, Token::Form::TOKEN_TYPE_JP, {}, class: "form-select", id: "floatingTokenType" %>
              <label for="floatingTokenType">Token Type</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.number_field :split, in: [1, 100], class: "form-control", id: "floatingSplit", placeholder: "Split" %>
              <label for="floatingSplit">Split</label>
            </div>
          </div>
          <div class="row g-0">
            <div class="w-auto ms-auto">
              <%= f.submit "BCに記録", class: "btn btn-outline-primary" %>
              <%= link_to "キャンセル", :back, class: "btn btn-light" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Token register -->
